<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Client-Welcome</title>
		<link href="{{ url_for('static', filename='css/client_welcome.css') }}" rel="stylesheet"/>
	</head>
	<body>
		<div>
			<h2>Looking for a photographer?</h2>
			<p>
				Hello and thank you for choosing photohub.<br>
					PhotoHub will give you an easy time when choosing a photographer who is best skilled and equipped to cover your event!<br>
					How do they make it possible? You might ask, right?<br>
					We at PhotoHub have worked to create a hub where photographers can easily upload their photographs and also have you our clients a chance to book them for your events.<br>
					By clicking the browse button below you shall get a chance to view all photographers and their uploaded works.<br>
					We have integrated a switch to WhatsApp for easy and effective communication between you and the photographer of your choice!
			</p>

			<p>
				Try us today and get an experience of smiles and clicks!
				<button type="button">
					<a href="{{ url_for('choose_category') }}">Browse Photographers Now!</a>
				</button>  </div>
	</body>
</html>
